body {
  background-image: url(/images/bg.webp?c1768ddbddb5f75fc2c7dbfbdfd8361d);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000;
  color: #E2DAC2;
  font-size: 8pt;
  font-family: Roboto-Light, serif;
  line-height: 1.7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

@font-face {
  font-family: Roboto-Light;

  src: url(/fonts/Roboto-Light.ttf?8be2d1487420548b3b8ddba68270b26b);
}

a {
  color: #E2DAC2;
}

#index, #storage, #donate {
  margin-left: 7px;
}

.pc {
  background-image: url(/images/wnd_pcpoint_back.png?205e1167bd029d20867836c1f16994d1);
  background-repeat: no-repeat;
  width: 112px;
  height: 39px;
  position: absolute;
  right: 22px;
  top: 100px;
}

.pc-title {
  padding-top: 3px;
  padding-left: 5px;
}

.pc-tooltip {
  background-image: url(/images/icn_aboutpoint_down.png?51b5d8ee336b973e5ae44d1675f7c0a4);
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  margin-left: 4px;
  margin-top: 1px;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.pc-tooltip:hover {
  background-image: url(/images/icn_aboutpoint_over.png?c35433a5a598df1ab6fdf16a70deb218);
}

.pc-tooltip .pc-tooltipText {
  visibility: hidden;
  width: 280px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 1px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  top: -20px;
  right: -107px;
  border-top: 1px solid rgba(132, 121, 99, 0.8);
}

.pc-tooltip:hover .pc-tooltipText {
  visibility: visible;
}

.pc-online {
  margin-top: -21px;
  margin-right: 5px;
  text-align: right;
}

.cb {
  background-image: url(/images/FrameBack.png?fdd557396bc19b698d03099bf887575c);
  background-repeat: no-repeat;
  width: 646px;
  height: 530px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.cb-title {
  top: 4px;
  left: 15px;
  position: absolute;
}

.manage {
  background-image: url(/images/smallbutton2.png?238f5e6396f19d457b3100b8bbdf2a30);
  background-repeat: no-repeat;
  text-decoration: none;
  text-align: center;
  position: absolute;
  top: 25px;
  right: 0;
  bottom: 0;
  left: 577px;
  padding: 1px 0 3px 0;
  width: 64px;
  height: 15px;
}

.manage:hover {
  background-image: url(/images/smallbutton2-ower.png?d9ef8aa65021a675bb9bd67fd134854a);
}

.manage:active {
  background-image: url(/images/smallbutton2-down.png?bbcaca1be88316dff8eedc1c6f2ca14f);
}

.manage.active {
  background-image: url(/images/smallbutton2-down.png?bbcaca1be88316dff8eedc1c6f2ca14f);
}

.close {
  background-image: url(/images/FrameCloseBtn.png?4b8b80ed94a5593b08f9afe82c2eea6c);
  background-repeat: no-repeat;
  position: absolute;
  top: 3px;
  left: 623px;
  width: 14px;
  height: 14px;
}

.close:hover {
  background-image: url(/images/frameclosebtn_over.png?7fdc6989f20462ab86828898068f44d3);
}

.close:active {
  background-image: url(/images/FrameCloseOnBtn.png?b683a90f7a1dc05b064d9721586bc8d0);
}

.hide {
  background-image: url(/images/FrameMiniBtn.png?8c211b3bf917e1e4d834e922e3b8eb7b);
  background-repeat: no-repeat;
  position: absolute;
  top: 3px;
  left: 605px;
  width: 14px;
  height: 14px;
}

.hide:hover {
  background-image: url(/images/frameminibtn_over.png?e0b9158eca64f21ebdcb9d2e20df988d);
}

.hide:active {
  background-image: url(/images/FrameMiniOnBtn.png?870b0b991f88202c9ec1f157a1ff2dfb);
}

#tabs {
  margin: 26px 0;
}

.tabs-nav {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.tabs-nav li {
  display: block;
  float: left;
  padding: 0;
  list-style: none;
  margin-left: 2px;
}

.tabs-nav a {
  display: block;
  padding: 0px 15px 2px 15px;
  border-top: 2px solid rgba(132, 121, 99, 0.8);
  border-left: 2px solid rgba(132, 121, 99, 0.8);
  border-right: 2px solid rgba(132, 121, 99, 0.8);
  border-radius: 0 5px 0 0;
  text-decoration: none;
  text-align: center;
  color: #E2DAC2;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.6);
}

.tabs-nav a.active {
  color: #E2DAC2;
  border-top: 2px solid rgba(189, 166, 132, 0.8);
  border-left: 2px solid rgba(189, 166, 132, 0.8);
  border-right: 2px solid rgba(189, 166, 132, 0.8);
  background-color: rgba(0, 0, 0, 0.0);
}

.tabs-nav a:not(.nohover):hover {
  box-shadow: 0 0 2px 2px rgba(144, 161, 184, 0.8) inset;
}

.tabs-items {
  border-right: 2px solid rgba(189, 166, 132, 0.8);
  border-left: 2px solid rgba(189, 166, 132, 0.8);
  border-bottom: 2px solid rgba(189, 166, 132, 0.8);
  border-radius: 0 5px 0 0;
  margin: 0 0 0 1px;
  width: 640px;
  height: 479px;
}

.index-left {
  border-top: 2px solid rgba(189, 166, 132, 0.8);
  height: 1px;
  width: 8px;
  padding: 0;
  margin-left: -15px;
  margin-top: -15px;
}

.index-right {
  border-top: 2px solid rgba(189, 166, 132, 0.8);
  height: 1px;
  width: 563px;
  padding: 0;
  margin-left: 63.5px;
  margin-top: -3px;
  border-radius: 0 5px 0 0;
}

.library-left {
  border-top: 2px solid rgba(189, 166, 132, 0.8);
  height: 1px;
  width: 84px;
  padding: 0;
  margin-left: -15px;
  margin-top: -15px;
}

.library-right {
  border-top: 2px solid rgba(189, 166, 132, 0.8);
  height: 1px;
  width: 486px;
  padding: 0;
  margin-left: 139.5px;
  margin-top: -3px;
  border-radius: 0 5px 0 0;
}

.storage-left {
  border-top: 2px solid rgba(189, 166, 132, 0.8);
  height: 1px;
  width: 166px;
  padding: 0;
  margin-left: -15px;
  margin-top: -15px;
}

.storage-right {
  border-top: 2px solid rgba(189, 166, 132, 0.8);
  height: 1px;
  width: 404px;
  padding: 0;
  margin-left: 222.5px;
  margin-top: -3px;
  border-radius: 0 5px 0 0;
}

.support-left {
  border-top: 2px solid rgba(189, 166, 132, 0.8);
  height: 1px;
  width: 242px;
  padding: 0;
  margin-left: -15px;
  margin-top: -15px;
}

.support-right {
  border-top: 2px solid rgba(189, 166, 132, 0.8);
  height: 1px;
  width: 328px;
  padding: 0;
  margin-left: 298.5px;
  margin-top: -3px;
  border-radius: 0 5px 0 0;
}

.donate-left {
  border-top: 2px solid rgba(189, 166, 132, 0.8);
  height: 1px;
  width: 325.5px;
  padding: 0;
  margin-left: -15px;
  margin-top: -15px;
}

.donate-right {
  border-top: 2px solid rgba(189, 166, 132, 0.8);
  height: 1px;
  width: 245px;
  padding: 0;
  margin-left: 381.5px;
  margin-top: -3px;
  border-radius: 0 5px 0 0;
}

.ratings-left {
  border-top: 2px solid rgba(189, 166, 132, 0.8);
  height: 1px;
  width: 401.5px;
  padding: 0;
  margin-left: -15px;
  margin-top: -15px;
}

.ratings-right {
  border-top: 2px solid rgba(189, 166, 132, 0.8);
  height: 1px;
  width: 169px;
  padding: 0;
  margin-left: 457.5px;
  margin-top: -3px;
  border-radius: 0 5px 0 0;
}

.forums-left {
  border-top: 2px solid rgba(189, 166, 132, 0.8);
  height: 1px;
  width: 477.5px;
  padding: 0;
  margin-left: -15px;
  margin-top: -15px;
}

.forums-right {
  border-top: 2px solid rgba(189, 166, 132, 0.8);
  height: 1px;
  width: 92px;
  padding: 0;
  margin-left: 533.5px;
  margin-top: -3px;
  border-radius: 0 5px 0 0;
}

.manage-left {
  border-top: 2px solid rgba(189, 166, 132, 0.8);
  height: 1px;
  width: 549px;
  padding: 0;
  margin-left: -15px;
  margin-top: -15px;
}

.manage-right {
  border-top: 2px solid rgba(189, 166, 132, 0.8);
  height: 1px;
  width: 92px;
  padding: 0;
  margin-left: 533.5px;
  margin-top: -3px;
  border-radius: 0 5px 0 0;
}

.tabs-item {
  padding: 15px 0 0 15px;
}

.content {
  padding: 2px 0 2px 0;
  height: 468px;
  width: 633px;
  margin-left: -10px;
  margin-top: 2px;
  overflow-x: hidden; /* прокрутка по горизонтали */
  overflow-y: scroll; /* прокрутка по вертикали */
}

/* width */

::-webkit-scrollbar {
  width: 15px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  width: 15px;
  background-image: url(/images/slider_cursor.png?887ac6c0d90721da05c074f51ed51336);
  border-top: 1px solid rgba(181, 174, 140, 0.8);
  border-left: 1px solid rgba(189, 174, 132, 0.8);
  border-right: 1px solid rgba(115, 89, 41, 0.8);
  border-bottom: 1px solid rgba(148, 134, 90, 0.8);
  box-shadow: inset 0px 11px 8px -10px rgba(255, 255, 255, 0.3),
    inset 0px -11px 8px -10px rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-track{
  background-color: rgba(0, 0, 0, 0.5);
}

/* Up */

::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url(/images/ScrollBarUpBtn.png?1ecb29141f37821497e6715a7cf8176e);
  height: 15px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url(/images/scrollbarupbtn_over.png?18e576ae315868a66b1d6f7655a3890f);
  height: 15px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url(/images/ScrollBarUpOnBtn.png?7dd5cf49511c51d85e3a3ae98643e1ce);
  height: 15px;
}

/* Down */

::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url(/images/ScrollBarDownBtn.png?bc001898f5d28db11de2c5ac92cfbeb1);
  height: 14px;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  background-image: url(/images/scrollbardownbtn_over.png?054fb5d3bae71614492e6f811fdd6d77);
  height: 14px;
}

::-webkit-scrollbar-button:vertical:single-button:increment:active {
  background-image: url(/images/ScrollBarDownOnBtn.png?8bd944cefc9b61dc7fa001154d02bed9);
  height: 14px;
}

.event {
  margin-bottom: 10px;
  margin-right: 5px;
  padding: 10px 10px 10px 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(181, 174, 140, 0.2);
}

.event-desc {
}

.event p {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
}

.event-header {
  border-bottom: 1px solid rgba(181, 174, 140, 0.2);
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.event-title {
  display: inline-block;
}

.event-title a {
  color: #6697FF;
  text-decoration: none;
}

.event-date {
  right: 0;
  display: inline-block;
  float: right;
  color: #B09979;
}

.event-img {
  float: left; /* Выравнивание по левому краю */
  margin: 4px 20px 4px 0px; /* Отступы вокруг картинки */
}

.event-footer {
  margin-top: -5px;
  border-top: 1px solid rgba(181, 174, 140, 0.2);
  padding-top: 5px;
}

.event-author {
  display: inline-block;
}

.event-author a {
  color: #B09979;
  text-decoration: none;
}

.event-view {
  margin-left: 170px;
  display: inline-block;
  color: #B09979;
}

.event-comments {
  margin-left: 10px;
  display: inline-block;
  color: #B09979;
}

.event-more {
  float: right;
  display: inline-block;
  margin-top: 2.5px;
}

.event-more-btn {
  background-image: url(/images/smallbutton2.png?238f5e6396f19d457b3100b8bbdf2a30);
  background-repeat: no-repeat;
  text-decoration: none;
  text-align: center;
  padding: 3px 15px 15px 16px;
}

.event-more-btn:hover {
  background-image: url(/images/smallbutton2-ower.png?d9ef8aa65021a675bb9bd67fd134854a);
}

.event-more-btn:active {
  background-image: url(/images/smallbutton2-down.png?bbcaca1be88316dff8eedc1c6f2ca14f);
}

.pagination-block {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pagination {
  display: inline-block;
}

.pagination-prev {
  background-image: url(/images/shortcut_prev.png?c56bf8411febdd05328ad3b833c6b2c1);
  float: left;
  text-decoration: none;
  margin: 0 1px;
  width: 14px;
  height: 14px;
}

.pagination-prev:hover {
  background-image: url(/images/shortcut_prev_over.png?72cf659c83074af90f19ca7d06a20e02);
}

.pagination-prev:active {
  background-image: url(/images/shortcut_prev_down.png?20071ad745cf2d2adfd492ca9ecf18f9);
}

.pagination-page {
  background-image: url(/images/shortcut_num.png?7b0f3c25d779fa91de1429c6059605e1);
  float: left;
  text-decoration: none;
  margin: 0 1px;
  width: 14px;
  height: 14px;
  line-height: 1.6;
  font-size: 7pt;
}

.pagination-page:hover {
  background-image: url(/images/shortcut_num_over.png?b79355b8160fd35b1fc50aa231cbf592);
}

.pagination-page:active {
  background-image: url(/images/shortcut_num_down.png?5fbccee5cf6bafe32535a5bd5f812187);
}

.pagination-page.active {
  background-image: url(/images/shortcut_num_down.png?5fbccee5cf6bafe32535a5bd5f812187);
}

.pagination-next {
  background-image: url(/images/shortcut_next.png?c78517b37434d31c04a20939d2f3d522);
  float: left;
  text-decoration: none;
  margin: 0 1px;
  width: 14px;
  height: 14px;
}

.pagination-next:hover {
  background-image: url(/images/shortcut_next_over.png?04c40834e94a41df7dee534d70f0ef60);
}

.pagination-next:active {
  background-image: url(/images/shortcut_next_down.png?e762b07f7a308c2ef613b283b08ff06a);
}

.login {
  background-image: url(/images/logon_back.png?726487b98ab8197cc33e3a7930444c12);
  background-repeat: no-repeat;
  width: 256px;
  height: 108px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.login-text-input {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(57, 56, 57, 0.8);
  margin-bottom: 5px;
  width: 120px;
  height: 13px;
}

.login-text-input:focus {
  background-color: rgba(32, 32, 32, 0.6);
  border: 1px solid rgba(57, 56, 57, 1);
  outline: none !important;
}

.login-form {
  margin-top: 20px;
}

.login-input {
  float: right;
  margin-right: 45px;
}

.login-control {
  margin-top: 7px;
  float: right;
  margin-right: 24px;
}

.login-form label {
  text-align: right;
  margin-right: 5px;
}

.login-button {
  background-image: url(/images/bigbutton.png?634c1bf558796faadc1d09c6d0e6d41e);
  width: 94px;
  height: 21px;
  margin-right: 5px;
}

.login-button:hover {
  background-image: url(/images/bigbutton_over.png?290dec6fda0d7ce64ae00e7e2a929c7d);
}

.login-button:active {
  background-image: url(/images/bigbutton_down.png?9911b2bb88dc677ab9cf5793199a438c);
}

button {
  text-decoration: none;
  text-align: center;
  color: #E2DAC2;
  font-size: 8pt;
  font-family: Roboto-Light, serif;
  border: 0;
}

input {
  color: #E2DAC2;
  font-size: 8pt;
  font-family: Roboto-Light, serif;
}

.login-mini-logo {
  text-align: left;
}

.login-logo {
  margin-top: -100px;
  text-align: center;
}

.login-footer {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 60px;
  margin-left: -8px;
  text-align: center;
}

.login-footer-text {
  margin-top: 17px;
}

.login-menu {
  background-image: url(/images/lobby_menuback.png?d304a2dd608a4ce01e00737faa669d03);
  background-repeat: no-repeat;
  width: 120px;
  height: 138px;
  position: absolute;
  right: 22px;
  bottom: 80px;
}

.login-menu li {
  list-style-type: none;
  margin-left: -74px;
  margin-bottom: 2px;
  padding-top: 1px;
  text-align: center;
  width: 94px;
  height: 21px;
}

.login-menu li a {
  background-image: url(/images/bigbutton.png?634c1bf558796faadc1d09c6d0e6d41e);
  background-repeat: no-repeat;
  width: 94px;
  position: absolute;
  height: 21px;
  padding-top: 1.5px;
  text-decoration: none;
}

.login-menu li a:hover {
  background-image: url(/images/bigbutton_over.png?290dec6fda0d7ce64ae00e7e2a929c7d);
}

.login-menu li a:active {
  background-image: url(/images/bigbutton_down.png?9911b2bb88dc677ab9cf5793199a438c);
}

.registration {
  background-image: url(/images/lobby3_back.png?cfc13394c754548e29e9e6717de80345);
  background-repeat: no-repeat;
  width: 546px;
  height: 425px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: left;
}

.blocker {
  background-color: rgba(0, 0, 0, 0);
}

.registration-form {
  margin: 10px 10px 5px;
}

.registration-form-left {
  width: 245px;
  float: left;
}

.registration-form-right {
  width: 270px;
  float: right;
}

.registration-text-input {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(57, 56, 57, 0.8);
  width: 120px;
  height: 13px;
  float: right;
}

.registration-text-input:focus {
  background-color: rgba(32, 32, 32, 0.6);
  border: 1px solid rgba(57, 56, 57, 1);
  outline: none !important;
}

.registration-input {
  float: right;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 5px 2px 5px;
  border-left: 1px solid rgba(132, 121, 99, 0.5);
  margin-bottom: 4px;
}

.registration-placeholder {
  color: #B09979;
  width: 230px;
  float: left;
}

.registration-plus {
  color: #A3DC96;
}

.registration-required {
  color: #FFFC00;
}

.registration-required .registration-requiredText {
  visibility: hidden;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 1px;
  padding: 2px 0;
  margin-top: -3px;
  margin-left: -107px;
  position: absolute;
  z-index: 1;
}

.registration-required:hover .registration-requiredText {
  visibility: visible;
}

.registration-plus .registration-plusText {
  visibility: hidden;
  width: 155px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 1px;
  padding: 2px 0;
  margin-top: -3px;
  margin-left: -167px;
  position: absolute;
  z-index: 1;
}

.registration-plus:hover .registration-plusText {
  visibility: visible;
}

.select-hidden {
  display: none;
  visibility: hidden;
}

.select {
  float: right;
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: #E2DAC2;
  padding-bottom: 5px;
  padding-left: 2px;
  width: 123px;
  height: 11px;
  border: 1px solid rgba(57, 56, 57, 0.8);
  background: url(/images/ScrollBarDownBtn.png?bc001898f5d28db11de2c5ac92cfbeb1) no-repeat right #000;
}

.select:hover {
  background: url(/images/scrollbardownbtn_over.png?054fb5d3bae71614492e6f811fdd6d77) no-repeat right #000;
}

.select:active {
  background: url(/images/ScrollBarDownOnBtn.png?8bd944cefc9b61dc7fa001154d02bed9) no-repeat right rgba(32, 32, 32, 0.6);
}

.select-styled {
  white-space: nowrap;
  color: #E2DAC2;
  font-size: 8pt;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-padding-end: 10px !important;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 126px;
  left: 0;
  z-index: 999;
  margin: 0;
  height: 6px;
  padding: 0;
  list-style: none;
}

.select-options li {
  padding-left: 5px;
  border: 1px solid #393839;
  background-color: #101010;
}

.select-options li:hover {
  color: #DCD9DC;
  background: linear-gradient(to right, #2F4A72 70%, #000);
}

.select-options li[rel="hide"] {
  display: none;
}

.modal-cancel-button {
  background-image: url(/images/bigbutton.png?634c1bf558796faadc1d09c6d0e6d41e);
  width: 94px;
  height: 19px;
  margin-right: 5px;
  padding-top: 2px;
  text-align: center;
  position: absolute;
}

.modal-cancel-button:hover {
  background-image: url(/images/bigbutton_over.png?290dec6fda0d7ce64ae00e7e2a929c7d);
}

.modal-cancel-button:active {
  background-image: url(/images/bigbutton_down.png?9911b2bb88dc677ab9cf5793199a438c);
}

.registration-control {
  margin-top: 7px;
  float: right;
  margin-right: 124px;
}

.preload-modal {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.preload-modal img {
  -webkit-animation: spin 5s linear 0s infinite;
          animation: spin 5s linear 0s infinite;
}

