body {
    background-image: url(../img/bg.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000;
    color: #E2DAC2;
    text-shadow: 1px 1px 1px #140F09;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 1.45;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    cursor: url(../img/cursor/cursor_2.png), auto;
    caret-color: transparent;
}

::selection {
    background: rgba(255, 255, 255, 0.2);
}

::-moz-selection {
    background: rgba(255, 255, 255, 0.2);
}

button {
    cursor: url(../img/cursor/cursor_1.png), auto;
}

a {
    cursor: url(../img/cursor/cursor_1.png), auto;
}

input {
    cursor: url(../img/cursor/cursor_6.png), auto;
}

.disabled {
    cursor: url(../img/cursor/cursor_9.png), auto;
}

@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf);
}

a {
    color: #E2DAC2;
}

#index, #storage, #donate {
    margin-left: 7px;
}

.pc {
    background-image: url(../img/cb/wnd_pcpoint_back.png);
    background-repeat: no-repeat;
    width: 140px;
    height: 49px;
    position: absolute;
    right: 22px;
    top: 55px;
}

.pc-title {
    padding-top: 4px;
    padding-left: 5px;
}

.pc-tooltip {
    background-image: url(../img/cb/icn_aboutpoint_down.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    margin-top: 2px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    cursor: url(../img/cursor/cursor_4.png), auto;
}

.pc-tooltip:hover {
    background-image: url(../img/cb/icn_aboutpoint_over.png);
}

.pc-tooltip .pc-tooltipText {
    visibility: hidden;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 1px;
    padding: 2px;

    outline: 1px solid rgba(102, 98, 101, 1);
    outline-offset: -2px;

    font-size: 12px;
    position: absolute;
    z-index: 1;
    top: -27px;
    right: -117px;
    border-top: 1px solid rgba(132, 121, 99, 0.8);
}

.pc-tooltip:hover .pc-tooltipText {
    visibility: visible;
}

.pc-online {
    margin-top: -20px;
    margin-right: 6px;
    text-align: right;
    color: #B09979;
    font-size: 12px;
}

.cb {
    background-image: url(../img/cb/FrameBack.png);
    background-repeat: no-repeat;
    width: 808px;
    height: 663px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.cb-title {
    top: 4px;
    left: 20px;
    position: absolute;
}

.manage {
    background-image: url(../img/cb/smallbutton2.png);
    background-repeat: no-repeat;
    text-decoration: none;
    text-align: center;
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 720px;
    padding: 2px 0 3px 0;
    width: 80px;
    height: 25px;
}

.manage:hover {
    background-image: url(../img/cb/smallbutton2-ower.png);
}

.manage:active {
    background-image: url(../img/cb/smallbutton2-down.png);
}

.manage.active {
    background-image: url(../img/cb/smallbutton2-down.png);
}

.close {
    background-image: url(../img/cb/FrameCloseBtn.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 4px;
    left: 781px;
    width: 18px;
    height: 18px;
}

.close:hover {
    background-image: url(../img/cb/frameclosebtn_over.png);
}

.close:active {
    background-image: url(../img/cb/FrameCloseOnBtn.png);
}

.hide {
    background-image: url(../img/cb/FrameMiniBtn.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 4px;
    left: 758px;
    width: 18px;
    height: 18px;
}

.hide:hover {
    background-image: url(../img/cb/frameminibtn_over.png);
}

.hide:active {
    background-image: url(../img/cb/FrameMiniOnBtn.png);
}

#tabs {
    margin: 32px 0;
}

.tabs-nav {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.tabs-nav li {
    display: block;
    float: left;
    padding: 0;
    list-style: none;
    margin-left: 2px;
}

.tabs-nav a {
    display: block;
    padding: 2px 20px 2px 20px;
    border-top: 2px solid rgba(132, 121, 99, 0.8);
    border-left: 2px solid rgba(132, 121, 99, 0.8);
    border-right: 2px solid rgba(132, 121, 99, 0.8);
    border-radius: 0 5px 0 0;
    text-decoration: none;
    text-align: center;
    color: #E2DAC2;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.6);
}

.tabs-nav a.active {
    color: #E2DAC2;
    border-top: 2px solid rgba(189, 166, 132, 0.8);
    border-left: 2px solid rgba(189, 166, 132, 0.8);
    border-right: 2px solid rgba(189, 166, 132, 0.8);
    background-color: rgba(0, 0, 0, 0.0);
}

.tabs-nav a:not(.nohover):hover {
    box-shadow: 0 0 2px 3px rgba(144, 161, 184, 0.8) inset;
}

.tabs-items {
    border-right: 2px solid rgba(189, 166, 132, 0.8);
    border-left: 2px solid rgba(189, 166, 132, 0.8);
    border-bottom: 2px solid rgba(189, 166, 132, 0.8);
    border-radius: 0 5px 0 0;
    margin: 0 0 0 1px;
    width: 802px;
    height: 605px;
}

.index-left {
    border-top: 2px solid rgba(189, 166, 132, 0.8);
    height: 1px;
    width: 8px;
    padding: 0;
    margin-left: -15px;
    margin-top: -15px;
}

.index-right {
    border-top: 2px solid rgba(189, 166, 132, 0.8);
    height: 1px;
    width: 704px;
    padding: 0;
    margin-left: 83px;
    margin-top: -3px;
    border-radius: 0 5px 0 0;
}

.library-left {
    border-top: 2px solid rgba(189, 166, 132, 0.8);
    height: 1px;
    width: 104px;
    padding: 0;
    margin-left: -15px;
    margin-top: -15px;
}

.library-right {
    border-top: 2px solid rgba(189, 166, 132, 0.8);
    height: 1px;
    width: 609px;
    padding: 0;
    margin-left: 179px;
    margin-top: -3px;
    border-radius: 0 5px 0 0;
}

.storage-left {
    border-top: 2px solid rgba(189, 166, 132, 0.8);
    height: 1px;
    width: 207px;
    padding: 0;
    margin-left: -15px;
    margin-top: -15px;
}

.storage-right {
    border-top: 2px solid rgba(189, 166, 132, 0.8);
    height: 1px;
    width: 505px;
    padding: 0;
    margin-left: 282px;
    margin-top: -3px;
    border-radius: 0 5px 0 0;
}

.support-left {
    border-top: 2px solid rgba(189, 166, 132, 0.8);
    height: 1px;
    width: 303px;
    padding: 0;
    margin-left: -15px;
    margin-top: -15px;
}

.support-right {
    border-top: 2px solid rgba(189, 166, 132, 0.8);
    height: 1px;
    width: 409px;
    padding: 0;
    margin-left: 378px;
    margin-top: -3px;
    border-radius: 0 5px 0 0;
}

.donate-left {
    border-top: 2px solid rgba(189, 166, 132, 0.8);
    height: 1px;
    width: 406px;
    padding: 0;
    margin-left: -15px;
    margin-top: -15px;
}

.donate-right {
    border-top: 2px solid rgba(189, 166, 132, 0.8);
    height: 1px;
    width: 306px;
    padding: 0;
    margin-left: 481px;
    margin-top: -3px;
    border-radius: 0 5px 0 0;
}

.ratings-left {
    border-top: 2px solid rgba(189, 166, 132, 0.8);
    height: 1px;
    width: 502px;
    padding: 0;
    margin-left: -15px;
    margin-top: -15px;
}

.ratings-right {
    border-top: 2px solid rgba(189, 166, 132, 0.8);
    height: 1px;
    width: 210px;
    padding: 0;
    margin-left: 577px;
    margin-top: -3px;
    border-radius: 0 5px 0 0;
}

.forums-left {
    border-top: 2px solid rgba(189, 166, 132, 0.8);
    height: 1px;
    width: 598px;
    padding: 0;
    margin-left: -15px;
    margin-top: -15px;
}

.forums-right {
    border-top: 2px solid rgba(189, 166, 132, 0.8);
    height: 1px;
    width: 114px;
    padding: 0;
    margin-left: 673px;
    margin-top: -3px;
    border-radius: 0 5px 0 0;
}

.manage-left {
    border-top: 2px solid rgba(189, 166, 132, 0.8);
    height: 1px;
    width: 549px;
    padding: 0;
    margin-left: -15px;
    margin-top: -15px;
}

.manage-right {
    border-top: 2px solid rgba(189, 166, 132, 0.8);
    height: 1px;
    width: 92px;
    padding: 0;
    margin-left: 533.5px;
    margin-top: -3px;
    border-radius: 0 5px 0 0;
}

.tabs-item {
    padding: 15px 0 0 15px;
}

.content {
    padding: 2px 0 2px 0;
    height: 593px;
    width: 791px;
    margin-left: -10px;
    margin-top: 2px;
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-thumb {
    width: 18px;
    background-image: url(../img/cb/slider_cursor.png);
    border-top: 1px solid rgba(181, 174, 140, 0.8);
    border-left: 1px solid rgba(189, 174, 132, 0.8);
    border-right: 1px solid rgba(115, 89, 41, 0.8);
    border-bottom: 1px solid rgba(148, 134, 90, 0.8);
    box-shadow: inset 0px 11px 8px -10px rgba(255, 255, 255, 0.3),
    inset 0px -11px 8px -10px rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url(../img/cb/ScrollBarUpBtn.png);
    height: 18px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-image: url(../img/cb/scrollbarupbtn_over.png);
    height: 18px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    background-image: url(../img/cb/ScrollBarUpOnBtn.png);
    height: 18px;
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url(../img/cb/ScrollBarDownBtn.png);
    height: 18px;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    background-image: url(../img/cb/scrollbardownbtn_over.png);
    height: 18px;
}

::-webkit-scrollbar-button:vertical:single-button:increment:active {
    background-image: url(../img/cb/ScrollBarDownOnBtn.png);
    height: 18px;
}

.event {
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(181, 174, 140, 0.2);
}

.event-desc {
    color: #c2bcab;
    font-size: 12px;
    letter-spacing: .2px;
    line-height: 1.45;
}

.event p {
    margin-block-start: 0em;
}

.event-header {
    border-bottom: 1px solid rgba(181, 174, 140, 0.2);
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.event-title {

    display: inline-block;
}

.event-title a {
    color: #8ab4f8;
    text-shadow: 1px 1px 1px #140f09;
    text-decoration: none;
}

.event-date {
    right: 0;
    display: inline-block;
    float: right;
    color: #B09979;
    font-size: 12px;
}

.event-img {
    float: left; /* Выравнивание по левому краю */
    margin: 4px 20px 4px 0px; /* Отступы вокруг картинки */
}

.event-footer {
    display: block;
    margin-top: -5px;
    border-top: 1px solid rgba(181, 174, 140, 0.2);
    padding-top: 5px;
    font-size: 12px;
}
.event-counter {
    margin-top: 3px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.event-author {
    margin-bottom: -21px;
}

.event-author a {
    color: #B09979;
    text-decoration: none;
}

.event-counter-item {
    display: inline-block;
    color: #B09979;
    padding-right: 5px;
    padding-left: 5px;
}

.event-more-btn {
    float: right;
    display: block;
    background-image: url(../img/cb/smallbutton2.png);
    background-repeat: no-repeat;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;
    width: 80px;
    height: 25px;
    margin-top: -18px;
}

.event-more-btn:hover {
    background-image: url(../img/cb/smallbutton2-ower.png);
}

.event-more-btn:active {
    background-image: url(../img/cb/smallbutton2-down.png);
}


.login {
    background-image: url(../img/cb/logon_back.png);
    background-repeat: no-repeat;
    width: 320px;
    height: 135px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.login-text-input {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(57, 56, 57, 0.8);
    margin-bottom: 8px;
    width: 150px;
    height: 17px;
}

.login-text-input:focus {
    background-color: rgba(32, 32, 32, 0.6);
    border: 1px solid rgba(57, 56, 57, 1);
    outline: none !important;
}

.login-form {
    margin-top: 20px;
}

.login-input {
    float: right;
    margin-right: 63px;
}

.login-control {
    margin-top: 10px;
    float: right;
    margin-right: 32px;
}

.login-form label {
    text-align: right;
    margin-right: 5px;
}

.login-button {
    background-image: url(../img/cb/bigbutton.png);
    width: 118px;
    height: 26px;
    margin-right: 5px;
}

.login-button:hover {
    background-image: url(../img/cb/bigbutton_over.png);
}

.login-button:active {
    background-image: url(../img/cb/bigbutton_down.png);
}

button {
    text-decoration: none;
    text-align: center;
    color: #E2DAC2;
    font-size: 14px;
    font-family: Roboto-Light, serif;
    border: 0;
}

input {
    color: #E2DAC2;
    font-size: 14px;
    font-family: Roboto-Light, serif;
}

.login-mini-logo {
    text-align: left;
}

.login-logo {
    margin-top: -100px;
    text-align: center;
}

.login-footer {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 75px;
    margin-left: -8px;
    text-align: center;
}

.login-footer-text {
    margin-top: 25px;
}

.login-menu {
    background-image: url(../img/cb/lobby_menuback.png);
    background-repeat: no-repeat;
    width: 150px;
    height: 173px;
    position: absolute;
    right: 22px;
    bottom: 100px;
}

.login-menu ul {
    margin-top: 15px;
}

.login-menu li {
    list-style-type: none;
    margin-left: -83px;
    margin-bottom: 6px;
    margin-top: -2px;
    text-align: center;
    width: 118px;
    height: 26px;
}

.login-menu li a {
    background-image: url(../img/cb/bigbutton.png);
    background-repeat: no-repeat;
    width: 118px;
    position: absolute;
    height: 26px;
    padding-top: 3px;
    text-decoration: none;
}

.login-menu li a:hover {
    background-image: url(../img/cb/bigbutton_over.png);
}

.login-menu li a:active {
    background-image: url(../img/cb/bigbutton_down.png);
}


.registration {
    background-image: url(../img/cb/lobby3_back.png);
    background-repeat: no-repeat;
    width: 683px;
    height: 531px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: left;
}

.blocker {
    background-color: rgba(0, 0, 0, 0);

}

.registration-form {
    margin: 10px 10px 5px;
}

.registration-form-left {
    width: 328px;
    float: left;
}

.registration-form-right {
    width: 329px;
    float: right;
}


.registration-text-input {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(57, 56, 57, 0.8);
    width: 150px;
    height: 17px;
    float: right;
    font-size: 12px;
    color: #B09979;
}

.registration-text-input:focus {
    background-color: rgba(32, 32, 32, 0.6);
    border: 1px solid rgba(57, 56, 57, 1);
    outline: none !important;
    font-size: 12px;
    color: #B09979;
}

.registration-text-input::placeholder {
    font-size: 12px;
    color: #E2DAC2;
    padding: 2px;
}

.registration-input {
    float: right;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px 5px 1px 5px;
    border-left: 1px solid rgba(132, 121, 99, 0.5);
    margin-bottom: 6px;
}

.registration-placeholder {
    color: #B09979;
    width: 300px;
    float: left;
    font-size: 12px;
}

.registration-plus {
    cursor: url(../img/cursor/cursor_4.png), auto;
    color: #A3DC96;
}

.registration-required {
    cursor: url(../img/cursor/cursor_4.png), auto;
    color: #FFFC00;
}

.registration-required .registration-requiredText {
    visibility: hidden;
    width: 135px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 1px;
    padding: 1px;
    margin-top: -3px;
    margin-left: -142px;
    position: absolute;
    z-index: 1;
}

.registration-required:hover .registration-requiredText {
    visibility: visible;
}

.registration-plus .registration-plusText {
    visibility: hidden;
    width: 215px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 1px;
    padding: 2px 0;
    margin-top: -3px;
    margin-left: -223px;
    position: absolute;
    z-index: 1;
}

.registration-plus:hover .registration-plusText {
    visibility: visible;
}

.select-hidden {
    display: none;
    visibility: hidden;
}

.select {
    float: right;
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: #E2DAC2;
    padding-bottom: 5px;
    padding-left: 5px;
    width: 150px;
    height: 17px;
    border: 1px solid rgba(57, 56, 57, 0.8);
    background: url(../img/cb/ScrollBarDownBtn.png) no-repeat right #000;
}

.select:hover {
    background: url(../img/cb/scrollbardownbtn_over.png) no-repeat right #000;
}

.select:active {
    background: url(../img/cb/ScrollBarDownOnBtn.png) no-repeat right rgba(32, 32, 32, 0.6);
}

.select-styled {
    white-space: nowrap;
    color: #E2DAC2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-padding-end: 10px !important;
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 155px;
    left: 0;
    z-index: 999;
    margin: 0;
    height: 6px;
    padding: 0;
    list-style: none;
}

.select-options li {
    padding-left: 5px;
    border: 1px solid #393839;
    background-color: #101010;
    font-size: 12px;
}

.select-options li:hover {
    color: #DCD9DC;
    background: linear-gradient(to right, #2F4A72 70%, #000);
}

.select-options li[rel="hide"] {
    display: none;
}


.modal-cancel-button {
    background-image: url(../img/cb/bigbutton.png);
    width: 118px;
    height: 21px;
    margin-right: 5px;
    padding-top: 5px;
    text-align: center;
    position: absolute;
}

.modal-cancel-button:hover {
    background-image: url(../img/cb/bigbutton_over.png);
}

.modal-cancel-button:active {
    background-image: url(../img/cb/bigbutton_down.png);
}

.warning-control a {
    text-decoration: none;
}

.registration-control {
    margin-top: 4px;
    float: right;
    margin-right: 159px;
}

.preload_modal {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 9999;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.preload_modal img {
    animation: spin 5s linear 0s infinite;
}

.warning {
    background-image: url(../img/cb/system_back.png);
    background-repeat: no-repeat;
    width: 256px;
    height: 108px;
    position: absolute;
    top: 17px;
    right: 0;
    bottom: 0;
    left: 16px;
    margin: auto;
    z-index: 2;
}

.warning-ico {
    background-image: url(../img/cb/warningicon.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    margin-top: 10px;
    text-decoration: none;
    position: relative;
}

.warning-content {
    margin-top: -28px;
    margin-left: 42px;
    text-align: left;
    height: 70px;
    width: 211px;
    overflow: hidden;
}


.warning-control {
    position: absolute;
    top: 80px;
    left: 80px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: rgba(32, 32, 32, 0.6);
    border: 1px solid rgba(57, 56, 57, 1);
    outline: none !important;
    -webkit-text-fill-color: #E2DAC2;
    -webkit-box-shadow: 0 0 0 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
}

.verification {
    background-image: url(../img/cb/npc1_back.png);
    background-repeat: no-repeat;
    width: 310px;
    height: 400px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: left;
}

.close_verification {
    background-image: url(../img/cb/FrameCloseBtn.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 3px;
    left: 288px;
    width: 14px;
    height: 14px;
}

.close_verification:hover {
    background-image: url(../img/cb/frameclosebtn_over.png);
}

.close_verification:active {
    background-image: url(../img/cb/FrameCloseOnBtn.png);
}

.verification_content {
    padding: 2px 0 2px 0;
    width: 292px;
    height: 358px;
    margin-left: 11px;
    margin-top: 30px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.verification_p {
    margin-top: -3px;
    margin-bottom: 7px;
}

.a_blue {
    color: #648BE2;
}

.verification_form {
}

.verification_input {
    float: right;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 5px 2px 5px;
    margin-bottom: 4px;
    margin-right: 4px;
}

.verification_placeholder {
    color: #B09979;
    width: 240px;
    float: left;
}

.verification_control {
    padding-top: 104px;
    text-align: center;
    padding-bottom: 9px;
}

.medium_button {
    background-image: url(../img/cb/medium_btn.png);
    width: 200px;
    height: 26px;
    margin-right: 5px;
}

.medium_button:hover {
    background-image: url(../img/cb/medium_btn_over.png);
}

.medium_button:active {
    background-image: url(../img/cb/medium_btn_down.png);
}

/* Пагинация */
ul.pagination {
    color: #B09979;
    text-align: center;
    margin-right: 5px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);
}

ul.pagination li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
    text-decoration: none;
}

ul.pagination li a {
    color: #B09979;
    text-decoration: none;
}

.pagination-active {
    color: #c2bcab;
}

.pagination-prev {
    background-image: url(../img/cb/shortcut_prev.png);
    float: left;
    text-decoration: none;
    margin: 0 1px;
    width: 18px;
    height: 18px;
}

.pagination-prev:hover {
    background-image: url(../img/cb/shortcut_prev_over.png);
}

.pagination-prev:active {
    background-image: url(../img/cb/shortcut_prev_down.png);
}

.pagination-page {
    background-image: url(../img/cb/shortcut_num.png);
    float: left;
    text-decoration: none;
    margin: 0 1px;
    width: 18px;
    height: 18px;
    line-height: 1.45;
    font-size: 9pt;
}

.pagination-page:hover {
    background-image: url(../img/cb/shortcut_num_over.png);
}

.pagination-page:active {
    background-image: url(../img/cb/shortcut_num_down.png);
}

.pagination-page.active {
    background-image: url(../img/cb/shortcut_num_down.png);
}

.pagination-next {
    background-image: url(../img/cb/shortcut_next.png);
    float: right;
    text-decoration: none;
    margin: 0 1px;
    width: 18px;
    height: 18px;
}

.pagination-next:hover {
    background-image: url(../img/cb/shortcut_next_over.png);
}

.pagination-next:active {
    background-image: url(../img/cb/shortcut_next_down.png);
}


.comment {
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(181, 174, 140, 0.2);
}


.comment-header {
    border-bottom: 1px solid rgba(181, 174, 140, 0.2);
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.comment-title {
    color: #B09979;
    display: inline-block;
}

.comment-date {
    right: 0;
    display: inline-block;
    float: right;
    color: #B09979;
    font-size: 12px;
}

.comment-item {
    position: relative;
    border: 1px solid rgba(181, 174, 140, 0.2);
    padding: 5px 5px 25px 5px;
    font-size: 12px;
    min-height: 140px;
    height: 100%;
    margin-top: 10px;
    color: #c2bcab;
}

.comment-item-author {
    float: left;
    width: 100px;
    min-height: 100px;
    padding-right: 10px;
    text-align: center;
    color: #B09979;
}

.comment-item-name {
    padding-bottom: 5px;
    color: #8ab4f8;
}

.comment-item-karma {
    display: inline-block;
    padding-right: 5px;
}

.comment-item-replay {
    display: inline-block;
}

.comment-item a {
    color: #B09979;
    text-decoration: none;
}

.comment-item-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #B09979;
    padding: 5px;
}

.comment-item-header {
    float: right;
    color: #B09979;
    border-bottom: 1px solid rgba(181, 174, 140, 0.2);
}
